*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Roboto', sans-serif;
    background-color: black;
    color:white;
}
.toolbar-container{
    background-color: #3C3A39;
}
.toolbar{
    /* border: 1px solid white; */
    
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 2.75rem;
    padding: 1rem 1.313rem 1rem 1.75rem;
}
.time{
    font-size: 0.875rem;
}
.nav-bar{
    /* border: 1px solid white; */

    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 3rem;
    padding: 0 2rem 0 0.15rem;
}
.logo{}
.logo-placeholder{
    padding: 0.625rem 0.75rem;
    font-weight: 700;
    font-size: 1.125rem;
}
.menu-icon{
    height: 0.75rem;
    width: 1.125rem;
}