/* stylelint-disable no-missing-end-of-source-newline */
/* stylelint-disable order/properties-order */
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  width: 100%;
  margin: 0;
}

body {
  font-family: 'Roboto', sans-serif;
  width: 100%;
}

.nav-bar {
  background-color: #3c3c39;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 3rem;
  width: 100%;
  padding: 0 3px;
}

.logo-placeholder {
  position: absolute;
  left: 1rem;
  top: 1rem;
  font-weight: 700;
  font-size: 1.25rem;
  text-decoration: none;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}

.menu-icon {
  position: absolute;
  right: 1rem;
  top: 1rem;
  height: 1.5rem;
  width: 1.5rem;
}

.nav-item {
  display: none;
}

.headline {
  background-color: #1c1a19;
  display: flex;
  flex-direction: column;
  justify-content: left;
  padding: 10px 0 10px 1.5rem;
  width: 100%;
  background-image: url('images/illustration-header-mobile.svg');
  background-repeat: no-repeat;
  background-attachment: local;
  background-position: right 60%;
  background-size: 50%;
  height: 600px;
}

.primary-text {
  font-family: 'Crete Round', serif;
  font-style: normal;
  font-size: 56px;
  line-height: 90%;
  line-height: 4rem;
  justify-content: left;
  align-items: baseline;
  letter-spacing: 0.37px;
  font-weight: 400;
  color: #ff6b00;

}

.supporting-text {
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
  font-size: 1.5rem;
  justify-self: left;
  line-height: 2rem;
  line-height: 114%;
  color: #fff5e1;
  margin: 0.75rem 0;
}

.description {
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.5rem;
  justify-self: left;
  align-self: flex-start;
  color: #fff;
  word-wrap: break-word;
  margin: 5px 0;
  width: 70%;
}

ul {
  list-style: none;
}

.social-icon {
  display: flex;
  justify-self: left;
  align-items: center;
  justify-content: space-between;
  max-width: 12.5rem;
  padding: 0.65rem;
}

.illustration-header {
  display: none;
}

/* style work section */


.work-container {
  display: flex;
  flex-direction: column;
  gap: 1.25rem;
}

.header-text {
  display: flex;
  align-items: center;
  font-size: 2.5rem;
  font-family: 'Crete Round', serif;
  font-weight: 40;
  line-height: 3.25rem;
  color: #1c1a19;
  padding-top: 7.5rem;
}

.hl {
  width: 20.438rem;
  height: 0;
  border: 0.063rem solid #212121;
  flex: none;
  order: 1;
  flex-grow: 0;
  margin: 1.5rem 0;
}

.img-placeholder {
  width: 100%;
}

.main-work-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: left;
  padding: 0;
  flex: 0 1 0;
  left: 0;
  width: 100%;
}

.work-header {
  font-family: 'Crete Round', serif;
  font-style: normal;
  font-weight: 400;
  font-size: 2rem;
}

.work-description {
  font-family: 'Inter', sans-serif;
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.5rem;
  line-height: 124%;
  justify-self: left;
  align-self: flex-start;
  color: #091e42;
  margin: 10px 0;
}

.tags-container {
  display: flex;
  flex-direction: row;
  gap: 0.75rem;
  width: 18.563rem;
}

.tag {
  background-color: white;
  border: 0.125rem solid;
  color: #8993a4;
  padding: 0.3rem 0.75rem;
  height: 2.5rem;
  flex: 1 5 auto;
  font-size: 0.938rem;
  line-height: 1.25rem;
  line-height: 110%;
}

.main-btn {
  margin: 1rem 0 0.75rem 0;
  background-color: #ff6b00;
  color: white;
  width: fit-content;
  height: 3rem;
  font-family: 'Inter', sans-serif;
  font-weight: 700;
  font-size: 17px;
  line-height: 1.5rem;
  letter-spacing: 3%;
  border: none;
  padding: 0.125rem 10px;
}

.main-btn:hover {
  background-color: #fff5e1;
  color: #ff6b00;
  border: 0.063rem solid #f55800;
}

.main-btn:disabled {
  background-color: #f4f1f0;
  color: #5b5957;
}

.main-btn:active {
  background-color: #f55800;
  color: white;
}

.work-cards-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1.5rem;
  margin-top: 1rem;
}

.work-card {
  /* background: url('images/work-card-Img-Placeholder.svg'); */
  background-repeat: no-repeat;
  background-size: 100%;
  display: flex;
  flex-direction: column;
  margin-bottom: 5px;
  width: 100%;
}

.card-header {
  color: white;
  margin-top: 2.5rem;
  padding: 0 0.75rem;
  font-family: 'Crete Round', serif;
  font-weight: 400;
  font-size: 2rem;
  line-height: 2.75rem;
}
.card-description {
  color: white;
  font-family: 'Inter', sans-serif;
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.5rem;
  padding: 0 0.75rem;
}

.card-tags {
  display: flex;
  flex-direction: row;
  margin-left: 0.75rem;
  margin-top: 0.5rem;
  gap: 0.813rem;
}

.blur {
  background-color: rgba(255, 255, 255, 0.24);
  color: white;
  border: none;
}

.btn-max-width {
  position: relative;
  background-color: #ff6b00;
  color: white;
  font-family: 'Inter', sans-serif;
  font-weight: 700;
  font-size: 1.125rem;
  line-height: 1.5rem;
  letter-spacing: 3%;
  justify-content: center;
  height: 3rem;
  border: none;
  margin-top: 5.313rem;
}

.about-section {
  position: absolute;
  background-color: #1c1a19;
  top: 237.5rem;
  width: 100%;
  height: 87.5rem;
  right: 0;
  display: flex;
  flex-direction: column;
  padding: 0.625rem 1.5rem;

  /* add background vector */
  background-image: url('images/illustration-about me.svg');
  background-repeat: no-repeat;
  background-attachment: local;
  background-position: right 20%;
  background-size: 60%;
}

.main-btn.no_wrap {
  white-space: nowrap;
  min-width: auto;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0.75rem;
  gap: 0.625rem;
  width: 10.063rem;
  height: 3rem;
  background: #f55800;
  flex: none;
  order: 2;
  flex-grow: 0;
}

.hl-white {
  position: relative;
  width: 80%;
  height: 0;
  top: 35%;
  border: 0.063rem solid white;
  justify-self: center;
}

/* style skills section */
.skills-section {
  background-color: #1c1a19;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 7.5rem 1.5rem;
  gap: 1.5rem;
  position: absolute;
  width: 100%;
  height: 50rem;
  left: calc(50% - 100vw / 2);
  top: 40%;
}

.item {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0;
  width: 10.563rem;
  height: 21rem;
}

.skill-header {
  display: flex;
  gap: 0.625rem;
}

.rectangle {
  width: 1.125rem;
  height: 1.125rem;
  background: #ff6b00;
  flex: none;
  order: 0;
  flex-grow: 0;
}

.prism {
  transform: rotate(-45deg);
}

.circle {
  border-radius: 9.375rem;
}

.skill-title {
  width: 7.188rem;
  height: 1.5rem;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 2rem;
  line-height: 2.75rem;
  display: flex;
  align-items: center;
  color: #fff;
  flex: none;
  order: 1;
  flex-grow: 0;
}

.skill {
  margin-top: 10px;
  width: 7.125rem;
  height: 1.5rem;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 1.375rem;
  line-height: 2.688rem;
  display: flex;
  align-items: center;
  text-align: center;
  white-space: nowrap;
  flex: none;
  order: 0;
  flex-grow: 0;
}

.form-section {
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 7.5rem 1.5rem;
  gap: 3.625rem;
  position: absolute;
  width: 100%;
  height: 40.25rem;
  top: 318.75rem;
  left: calc(50% - 100vw / 2);
}

.form-intro {
  font-family: 'Inter', sans-serif;
  font-weight: 700;
  font-size: 2rem;
  line-height: 2.75rem;
  text-align: center;
  color: #172b4d;
}

.form-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.box {
  border: transparent;
  border-bottom: #dbd8d7 solid 0.063rem;
  height: 2.875rem;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 0.938rem;
  padding-left: 1rem;
  color: #979493;
  width: 20.438rem;
}

.box-text {
  border: transparent;
  background: #fbf8f7;
  color: #3c3a39;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 0.938rem;
  line-height: 1.5rem;
  padding: 0.75rem;
  width: 20.438rem;
  height: 7.125rem;
  margin-top: 1.5rem;
}

.bottom-nav {
  position: absolute;
  display: flex;
  justify-content: center;
  top: 362.5rem;
  height: 4.5rem;
  width: 100vw;
  color: black;
}

.icon-btn {
  margin-left: 5px;
}

.desktop {
  display: none;
}

/* mobile menu style */
#mobile-menu {
  display: none;
}

.mobile-menu-style {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 3.563rem;
  background-color: #3c3c39;
}

.nav-items .mobile {
  width: 90%;
  height: 2.5rem;
  border-radius: 0.5rem;
  flex: none;
  order: 0;
  flex-grow: 0;
  border-bottom: 0.063rem solid #6f6c6b;
  color: #fff5e1;
  text-decoration: none;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 1.5rem;
  margin-top: 0.5rem;
  margin-left: 1.25rem;
  padding-left: 1.25rem;
}

.cancel-btn {
  width: 100%;
  height: auto;
  background-color: #3c3c39;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: end;
  border-style: none;
  padding: 5%;
}

/* Desktop Verion Styling */

@media (min-width: 768px) {
  html,
  body {
    margin: 0;
    height: 100%;
    width: 100%;
    max-width: 100%;
    min-width: 100%;
  }

  body {
    box-sizing: border-box;
  }

  .desktop {
    display: contents;
  }

  .nav-bar {
    width: 100%;
    height: 4.5rem;
  }

  .hamburger-icon {
    display: none;
  }

  .logo-placeholder {
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 1.25rem;
    line-height: 1.25rem;
    left: 9.625rem;
    margin-top: 0.375rem;
    transition: color 2s, transform 2s;
  }

  .nav-items {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: row;
    padding: 0;
    gap: 0.5rem;
    position: absolute;
    width: 15.938rem;
    height: 2.5rem;
    right: 12.125rem;

    /* top: calc(50% - 2.5rem/2); */
  }

  .nav-item {
    list-style: none;
    text-decoration: none;
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 0.938rem;
    line-height: 1.25rem;
    color: #fff;
    left: 0.625rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0.625rem 0.75rem;
    gap: 0.625rem;
    width: 5.438rem;
    height: 2.5rem;
    flex: none;
    order: 0;
    flex-grow: 0;
  }

  .social-icon {
    position: absolute;
    width: 1.25rem;
    height: 6.185rem;
    left: 2.25rem;
    top: 15rem;
    display: flex;
    flex-direction: column;
    gap: 1.83rem;
  }

  .headline {
    padding: 0;
    width: 100%;
    background-color: #1c1a19;
    background-image: url('images/Illustration-header.svg');
    background-repeat: no-repeat;
    background-attachment: local;
    background-position: right top;
    background-size: 40% 80%;
  }

  .headline-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 7rem 0;
    position: absolute;
    width: 35.375rem;
    height: 49.875rem;
    left: 8.938rem;
    top: 4.5rem;
  }

  .primary-text {
    width: 35.375rem;
    height: 10rem;
  }

  .supporting-text {
    width: 35.375rem;
    height: 1.5rem;
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 2rem;
    line-height: 2.75rem;
    display: flex;
    align-items: center;
  }

  .description {
    width: 35.375rem;
    height: 7.688rem;
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 1.25rem;
    line-height: 2rem;
    color: #f4f5f7;
    flex: none;
    order: 2;
    flex-grow: 0;
  }

  .works-header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: left;
    width: 100%;
    flex: none;
    order: 0;
    flex-grow: 0;
    padding: 8.125rem 150px  8.125rem 150px;
  }

  .header-text {
    width: 100%;
    height: 3.25rem;
    font-family: 'Crete Round', Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 2.5rem;
    line-height: 3.25rem;
    display: flex;
    align-items: center;
    padding-top: 0;
    white-space: nowrap;
  }

  .hl {
    display: inline;
    width: 60%;
    margin-right: 10%;
    border: 0.063rem solid #212121;
  }

  .main-work-section {
    display: flex;
    flex-direction: row;
    gap: 1.5rem;
    width: 80vw;
    left: 0;
    margin: auto 10%;
  }

  .img-placeholder {
    width: 65%;
    height: auto;
    flex: none;
    order: 0;
    flex-grow: 0;
    align-self: flex-start;
  }

  .work-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0;
    gap: 1.25rem;
    width: 43rem;
    height: 33rem;
    flex: none;
    order: 1;
    flex-grow: 0;
    top: 1643px;
    margin-right: 10%;
  }

  .work-description {
    width: 70%;
    height: auto;
    padding: 0;
    margin: 0;
  }

  .main-btn.work-sec {
    margin: 0;
  }

  .work-cards-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1.5rem;
    width: 100%;
    height: 87.5rem;
    flex: none;
    order: 1;
    flex-grow: 0;
    top: 102.688rem;
  }

  .card-group-one {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-self: flex-start;
    gap: 1.5rem;
    position: absolute;
    width: 100%;
    height: 43rem;
    left: 0;
    padding: 0 10%;
    top: 900px;
  }

  .card-group-two {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 1.5rem;
    position: absolute;
    width: 100%;
    height: 27.188rem;
    left: 0;
    padding: 0 10%;
    top: 83.75rem;
  }

  .btn-max-width {
    display: none;
  }

  .show {
    display: block;
  }

  .work-card {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    border: 0.063rem solid black;
    width: 23.063rem;
    height: 25.313rem;
    padding-bottom: 1rem;
  }

  .work-card:hover {
    background: url('images/work card hover-Img-Placeholder.svg');
    border: 0.125rem solid #091e42;
    filter: drop-shadow(0  3rem rgba(37, 47, 137, 0.08));
  }

  .work-card:hover .btn-max-width {
    display: block;
    position: absolute;
    height: 3.625rem;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    border: none;
  }
  .work-card :not(:last-child) {
    opacity: 100%;
  }
  .work-card:hover :not(:last-child) {
    display: none;
  }

  .about-section {
    position: absolute;
    width: 100%;
    height: 81.875rem;
    left: 0;
    top: 140.625rem;
    margin-top: 8.125rem;
    background-image: url('images/illustration-about me.svg');
    background-repeat: no-repeat;
    background-attachment: local;
    background-position: right 20%;
    background-size: 40% auto;
  }

  .about-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 8.125rem 0;
    position: absolute;
    width: 40%;
    height: 36.375;
    left: 8.875rem;
    gap: 1.5rem;
  }

  .skills-section {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding:  10%;
    gap: 3.25rem;
    position: absolute;
    width: 100%;
    height: 37.25rem;
    top: 40.625rem;
  }

  .skill {
    padding-top: 2rem;
  }

  .item {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0;
    gap: 1.5rem;
    width: 18.091rem;
    height: 17.591rem;
    flex: none;
    order: 0;
    flex-grow: 0;
  }

  .hl-white {
    display: block;
    position: absolute;
    height: 0;
    margin: 0 10%;
    top: 38.125rem;
    width: 80%;
    border: 0.063rem solid #fff;
  }

  .form-section {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: center;
    padding: 8.125rem 8.438rem;
    gap: 1.5rem;
    position: absolute;
    width: 100%;
    height: 36.875rem;
    left: 0;
    top: 216.75rem;
  }

  .form-sec-intro {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: left;
    padding: 0;
    gap: 1.5rem;
    width: 28.438rem;
    height: 16rem;
    flex: none;
    order: 0;
    flex-grow: 0;
  }

  .form-cont {
    width: 100%;
  }

  .form-intro {
    font-family: 'Inter', Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 2.5rem;
    line-height: 3.25rem;
    display: flex;
    align-items: center;
    text-align: left;
    color: #262626;
  }

  .form-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0;
    gap: 1.5rem;
  }

  .main-btn-center {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0.75rem;
    gap: 0.625rem;
    width: 7.625rem;
    height: 3rem;
  }

  .bottom-nav {
    position: absolute;
    width: 100%;
    height: 4.5rem;
    left: 0;
    top: 251.875rem;
  }

  .social-icon.bottom {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0;
    position: absolute;
    width: 12.5rem;
    height: 2.5rem;
    left: 40%;
    top: 1rem;
  }

  .bottom-icon path {
    fill: #505f79;
  }
}

/* add animation to project */
.icon-btn:hover {
  transform: scale(2);
  border: 0.063rem solid white;
  padding: 0.125rem;
  margin: 3px;
}

.img-placeholder:hover {
  transform: scale(1);
}

.logo-placeholder:hover {
  transform: rotate(360deg);
  color: #f55800;
}

.hide {
  display: none;
}

.show {
  display: inline;
}

/* Dynamic-work card */
.project-cards {
  margin: 1rem 8.875rem;
  display: grid;
  grid-template-columns: repeat(3, auto);
  justify-items: center;
  align-self: center;
  gap: 1.5rem;
}

.project-cards-mobile {
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: auto;
  justify-items: center;
  margin: 1.5rem;
}

.work-card-hover {
  background: url('images/work card hover-Img-Placeholder.svg');
  border: 0.125rem solid #091e42;
  filter: drop-shadow(0 3rem 3rem rgba(37, 47, 137, 0.08));
}

/* Project detail popup window desktop version styling */
.popup-bg {
  position: absolute;
  left: 0;
  right: 0;
  z-index: -1;
  display: block;
  width: 100vw;
  height: 100vh;
  filter: blur(5px);
  overflow: hidden;
}

#popup-window {
  display: none;
}

.popup-window-style {
  display: flex;
  flex-direction: row;
  position: absolute;
  width: 80vw;
  height: 80vh;
  left: 10%;
  top: 10%;
  z-index: 9999;
  background: #fff;
  border: 0.063rem solid #ebecf0;
  box-shadow: 0 3rem 3rem rgba(37, 47, 137, 0.08);
  padding: 1.5rem;
  overflow: scroll;
}

.top-section {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.project-title {
  font-family: 'Crete Round', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 2rem;
  line-height: 2.75rem;
  color: #172b4d;
}

.close-btn {
  width: 1.5rem;
  height: 1.5rem;
  background: none;
  border: none;
}

#tag-popup {
  display: flex;
  flex-direction: row;
  height: 2.5rem;
  left: 1.5rem;
}

.tag-popup {
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0.8rem 0.8rem;
  border: 0.063rem solid #979493;
  flex: none;
  order: 1;
  flex-grow: 0;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 0.938rem;
  line-height: 1.25rem;
  color: #3c3a39;
}

.demo-section {
  display: flex;
  flex-direction: row;
  gap: 2rem;
  margin-top: 3rem;
}

.project-placeholder-img {
  width: 90vw;
  height: 50vh;
}

.project-description {
  /* width: 30%; */
  height: 30vh;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.875rem;
  color: #344563;
}

.btns-container {
  display: flex;
  flex-direction: row;
  gap: 0.75rem;
}

@media (max-width: 768px) {
  .popup-window-style {
    padding: 1rem 1rem;
    overflow-y: scroll;
    height: 80vh;
  }

  .close-btn {
    width: 0.875rem;
    height: 0.875rem;
  }

  .demo-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .project-placeholder-img {
    margin-top: 1rem;
    width: 100%;
    height: 50%;
  }

  .project-description {
    width: 95%;
    height: 50%;
  }

  .btns-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    row-gap: 0.5rem;
  }

  .main-btn.popup {
    width: 40%;
  }
}
